


<dx-load-panel
    *ngIf="isLoading"
    [visible]="isLoading"
    [showIndicator]="true"
    [message]="'Pobieram dane...'"
    [width]="600"
    [height]="300"
    [shadingColor]="'rgba(0, 0, 0, 0.4)'">
</dx-load-panel>

<div class="view-wrapper list-page crm-contact-list">
      
        <dx-data-grid 
        class="grid theme-dependent"
        [title]="'Rodzaje Produktów'"
        id="gridContainerRodzajeProduktow"
        keyExpr="id"
        [allowColumnReordering]="true"
        [showBorders]="true"
        [showColumnLines]="false"
        [showRowLines]="true"
        [showBorders]="true"
        [rowAlternationEnabled]="true"
        (onEditingStart)="logEvent('EditingStart')"
        (onInitNewRow)="logEvent('InitNewRow')"
        (onRowInserting)="logEvent('RowInserting')"
        (onRowInserted)="logEvent('RowInserted')"
        (onRowUpdating)="logEvent('RowUpdating')"
        (onRowUpdated)="logEvent('RowUpdated')"
        (onRowRemoving)="logEvent('RowRemoving')"
        (onRowRemoved)="logEvent('RowRemoved')"
        (onSaving)="logEvent('Saving')"
        (onSaved)="logEvent('Saved')"
        (onEditCanceling)="logEvent('EditCanceling')"
        (onEditCanceled)="logEvent('EditCanceled')"
        [dataSource]="data"

        >
            
        <dxo-toolbar>
          <dxi-item location="after">
            <div *dxTemplate>
              <dx-button icon="refresh" (onClick)="refreshDataGrid()"> </dx-button>
            </div>
          </dxi-item>
          <dxi-item name="searchPanel" locateInMenu="auto"></dxi-item>
          <dxi-item name="columnChooserButton"></dxi-item>
        </dxo-toolbar>
    

            <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
            <dxo-paging [pageSize]="5"></dxo-paging>
            <dxo-pager
              [visible]="true"
              [allowedPageSizes]="allowedPageSizes"
              [displayMode]="displayMode"
              [showPageSizeSelector]="showPageSizeSelector"
              [showInfo]="showInfo"
              [showNavigationButtons]="showNavButtons"
            >
            </dxo-pager>
            <dxo-filter-row
              visible="true"
              applyFilter="auto"
            ></dxo-filter-row>
            <dxo-header-filter [visible]="'true'"></dxo-header-filter>
            <dxo-search-panel
            [visible]="true"
            [width]="240"
            placeholder="Szukaj..."
          ></dxo-search-panel>

            <dxo-editing
              mode="row"
              [allowUpdating]="true"
              [allowDeleting]="true"
              [allowAdding]="true"
            >
            </dxo-editing>
        
            <dxi-column
            dataField="id"
            [width]="90"
            [hidingPriority]="2">
            <dxi-validation-rule type="required"></dxi-validation-rule>
            </dxi-column>
            <dxi-column
            dataField="nazwa"
            [width]="940"
            [hidingPriority]="2">
            <dxi-validation-rule type="required"></dxi-validation-rule>
            </dxi-column>
            <dxi-column
            dataField="numer"
            [width]="140"
            [hidingPriority]="2">
            <dxi-validation-rule type="required"></dxi-validation-rule>
          </dxi-column>
            

        </dx-data-grid>
        
</div>

