
<app-camera-capture-modal *ngIf="isModalOpen"></app-camera-capture-modal>

<div *ngIf="error">
    {{error}}
</div>

<div id="jednostka-form">
    <dx-validation-group>
      <toolbar-form
        *ngIf="jednostkaData"
        [isEditing]="isEditing"
        (editingCancelled)="handleCancelClick()"
        (editModeToggled)="handleEditClick()"
        (saveButtonClicked)="handleSaveClick($event)"
      >
      </toolbar-form>
      
      <dx-form
        *ngIf="jednostkaData"
        class="form last plain-styled-form"
        [formData]="jednostkaData"
        labelMode="floating"
        [class.view-mode]="!isEditing"
      >

        <dxi-item itemType="group" [colCount]="2">
          <dxo-col-count-by-screen [xs]="2"></dxo-col-count-by-screen>
          <dxi-item>
            <div *dxTemplate>
              <form-gallery [links]="links" [size]="184"></form-gallery>
              <dx-button icon="isnotblank" [text]="'Aparat'" (onClick)="openModal()"></dx-button>
            </div>
          </dxi-item>

          <dxi-item itemType="group" [colCount]="3">
            <dxo-col-count-by-screen [xs]="3"></dxo-col-count-by-screen>
  
            <dxi-item [colSpan]="3">
              <form-textbox
                *dxTemplate
                label="Jednostka Id:"
                [(value)]="jednostkaData.jednostkaId"
                [isEditing]="isEditing"
              ></form-textbox>
            </dxi-item>
  
            <dxi-item [colSpan]="3">
              <form-textbox
                *dxTemplate
                label="Poprzednia Jednostka Id:"
                [(value)]="jednostkaData.poprzedniaJednostkaId"
                [isEditing]="isEditing"
                [validators]="disabledValidationValidationRule"
              ></form-textbox>
            </dxi-item>
          </dxi-item>

          <dxi-item [colSpan]="2">
            <form-searchbox
              *dxTemplate
              label="Produkt:"
              [(value)]="jednostkaData.produktId"
              [items]="produktBoxItems"
              [isEditing]="isEditing"
              (keyDowned)="produktTyping($event)"
              (valueChange)="produktWybrany($event)"
            ></form-searchbox>
          </dxi-item>
          
          <dxi-item [colSpan]="2">
            <form-searchbox
              *dxTemplate
              label="Strefa:"
              [(value)]="jednostkaData.strefaId"
              [items]="strefaBoxItems"
              [isEditing]="isEditing"
              (keyDowned)="strefaTyping($event)"
              (valueChange)="strefaWybrany($event)"
            ></form-searchbox>
          </dxi-item>
  
          <dxi-item [colSpan]="2">
            <form-textbox
              *dxTemplate
              label="Numer:"
              [(value)]="jednostkaData.numer"
              [isEditing]="isEditing"
            ></form-textbox>
          </dxi-item>
  
        </dxi-item>
        
          <dxi-item itemType="group" [colCount]="3" [caption]="'Szczegóły'">
            
            <dxo-col-count-by-screen [xs]="3"></dxo-col-count-by-screen>
    
            <dxi-item>
              <div *dxTemplate>
                <form-item-date
                  label="Data utworzenia"
                  [isEditing]="isEditing"
                  [(value)]="jednostkaData.dataUtworzenia"
                ></form-item-date>
              </div>
            </dxi-item>
    
            <dxi-item>
              <div *dxTemplate>
                <form-item-date
                  label="Data modyfikacji"
                  [isEditing]="isEditing"
                  [(value)]="jednostkaData.dataModyfikacji"
                ></form-item-date>
              </div>
            </dxi-item>
    
            <dxi-item>
              <form-textbox
                *dxTemplate
                label="Numer zbiorczy:"
                [(value)]="jednostkaData.numerZbiorczy"
                [isEditing]="isEditing"
                [validators]="disabledValidationValidationRule"
              ></form-textbox>
            </dxi-item>
            
            <dxi-item>
              <form-textbox
                *dxTemplate
                label="Proces sterylizacji:"
                [(value)]="jednostkaData.procesSterId"
                [isEditing]="isEditing"
                [validators]="disabledValidationValidationRule"
              ></form-textbox>
            </dxi-item>
    
            <dxi-item>
              <form-textbox
                *dxTemplate
                label="Proces dezynfekcji wstępnej:"
                [(value)]="jednostkaData.procesDezWstId"
                [isEditing]="isEditing"
                [validators]="disabledValidationValidationRule"
              ></form-textbox>
            </dxi-item>
    
            <dxi-item>
              <form-textbox
                *dxTemplate
                label="Zakończona:"
                [(value)]="jednostkaData.zakonczona"
                [isEditing]="isEditing"
                [validators]="disabledValidationValidationRule"
              ></form-textbox>
            </dxi-item>
    
            <dxi-item>
              <form-textbox
                *dxTemplate
                label="Cito:"
                [(value)]="jednostkaData.cito"
                [isEditing]="isEditing"
                [validators]="disabledValidationValidationRule"
              ></form-textbox>
            </dxi-item>
    
            <dxi-item>
              <form-textbox
                *dxTemplate
                label="Zdarzenie:"
                [(value)]="jednostkaData.zdarzenieId"
                [isEditing]="isEditing"
                [validators]="disabledValidationValidationRule"
              ></form-textbox>
            </dxi-item>
    
            <dxi-item>
              <div *dxTemplate>
                <form-item-date
                  label="Przyjęcie:"
                  [isEditing]="isEditing"
                  [(value)]="jednostkaData.przyjecieId"
                ></form-item-date>
              </div>
            </dxi-item>
    
            <dxi-item>
              <form-textbox
                *dxTemplate
                label="Wydanie Id:"
                [(value)]="jednostkaData.wydanieId"
                [isEditing]="isEditing"
                [validators]="disabledValidationValidationRule"
              ></form-textbox>
            </dxi-item>
    
            <dxi-item>
              <form-textbox
                *dxTemplate
                label="Wersja naklejki:"
                [(value)]="jednostkaData.wersjaNaklejki"
                [isEditing]="isEditing"
                [validators]="disabledValidationValidationRule"
              ></form-textbox>
            </dxi-item>
    
            <dxi-item>
              <form-textbox
                *dxTemplate
                label="Koszt:"
                [(value)]="jednostkaData.koszt"
                [isEditing]="isEditing"
                [validators]="disabledValidationValidationRule"
              ></form-textbox>
            </dxi-item>
    
            <dxi-item>
              <form-textbox
                *dxTemplate
                label="Koszt rzeczwisty:"
                [(value)]="jednostkaData.kosztRzeczywisty"
                [isEditing]="isEditing"
                [validators]="disabledValidationValidationRule"
              ></form-textbox>
            </dxi-item>
    
            <dxi-item>
              <form-textbox
                *dxTemplate
                label="Zrodło ceny jednostki:"
                [(value)]="jednostkaData.zrodloCenyJednostki"
                [isEditing]="isEditing"
                [validators]="disabledValidationValidationRule"
              ></form-textbox>
            </dxi-item>
    
            <dxi-item>
              <form-textbox
                *dxTemplate
                label="Termin ważności:"
                [(value)]="jednostkaData.terminWaznosci"
                [isEditing]="isEditing"
                [validators]="disabledValidationValidationRule"
              ></form-textbox>
            </dxi-item>
    
            <dxi-item>
              <form-textbox
                *dxTemplate
                label="Termin ważności (dni):"
                [(value)]="jednostkaData.terminWaznosciDni"
                [isEditing]="isEditing"
                [validators]="disabledValidationValidationRule"
              ></form-textbox>
            </dxi-item>

            <dxi-item>
              <form-textbox
                *dxTemplate
                label="Anulowana:"
                [(value)]="jednostkaData.anulowana"
                [isEditing]="isEditing"
                [validators]="disabledValidationValidationRule"
              ></form-textbox>
            </dxi-item>
    
            <dxi-item>
              <div *dxTemplate>
                <form-item-date
                  label="Data anulowania:"
                  [isEditing]="isEditing"
                  [(value)]="jednostkaData.dataAnulowania"
                ></form-item-date>
              </div>
            </dxi-item>
    
            <dxi-item>
              <form-textbox
                *dxTemplate
                label="Anulował:"
                [(value)]="jednostkaData.anulowal"
                [isEditing]="isEditing"
                [validators]="disabledValidationValidationRule"
              ></form-textbox>
            </dxi-item>
    
            <dxi-item>
              <form-textbox
                *dxTemplate
                label="Tagi zmiany:"
                [(value)]="jednostkaData.tagiZmiany"
                [isEditing]="isEditing"
                [validators]="disabledValidationValidationRule"
              ></form-textbox>
            </dxi-item>
    
            <dxi-item>
              <form-textbox
                *dxTemplate
                label="Zweryfikowana przy przyjmowaniu:"
                [(value)]="jednostkaData.zweryfikowanaPrzyPrzyjmowaniu"
                [isEditing]="isEditing"
                [validators]="disabledValidationValidationRule"
              ></form-textbox>
            </dxi-item>
    
            <dxi-item>
              <form-textbox
                *dxTemplate
                label="Zweryfikowana przy pakowaniu:"
                [(value)]="jednostkaData.zweryfikowanaPrzyPakowaniu"
                [isEditing]="isEditing"
                [validators]="disabledValidationValidationRule"
              ></form-textbox>
            </dxi-item>
    
            <dxi-item>
              <form-textbox
                *dxTemplate
                label="Zrealizowane jednostki Id:"
                [(value)]="jednostkaData.zrealizowaneJednostkiId"
                [isEditing]="isEditing"
                [validators]="disabledValidationValidationRule"
              ></form-textbox>
            </dxi-item>
    
            <dxi-item>
              <div *dxTemplate>
                <form-item-date
                  label="Historia jednostki:"
                  [isEditing]="isEditing"
                  [(value)]="jednostkaData.historiaJednostkiId"
                ></form-item-date>
              </div>
            </dxi-item>
    
            <dxi-item>
              <form-textbox
                *dxTemplate
                label="Wydanie na strefie Id:"
                [(value)]="jednostkaData.wydanieNaStrefieID"
                [isEditing]="isEditing"
                [validators]="disabledValidationValidationRule"
              ></form-textbox>
            </dxi-item>
    
            <dxi-item>
              <form-textbox
                *dxTemplate
                label="Znaczniki:"
                [(value)]="jednostkaData.znaczniki"
                [isEditing]="isEditing"
                [validators]="disabledValidationValidationRule"
              ></form-textbox>
            </dxi-item>
    
            <dxi-item>
              <form-textbox
                *dxTemplate
                label="Liczba użyć:"
                [(value)]="jednostkaData.liczbaUzyc"
                [isEditing]="isEditing"
                [validators]="disabledValidationValidationRule"
              ></form-textbox>
            </dxi-item>
            
            <dxi-item>
              <form-textbox
                *dxTemplate
                label="Numer obiegu:"
                [(value)]="jednostkaData.nrObiegu"
                [isEditing]="isEditing"
                [validators]="disabledValidationValidationRule"
              ></form-textbox>
            </dxi-item>
    
            <dxi-item>
              <form-textbox
                *dxTemplate
                label="Data zapakowania:"
                [(value)]="jednostkaData.dataZapakowania"
                [isEditing]="isEditing"
                [validators]="disabledValidationValidationRule"
              ></form-textbox>
            </dxi-item>
    
            <dxi-item>
              <form-textbox
                *dxTemplate
                label="Zapakował:"
                [(value)]="jednostkaData.zapakowalId"
                [isEditing]="isEditing"
                [validators]="disabledValidationValidationRule"
              ></form-textbox>
            </dxi-item>
    
            <dxi-item>
              <form-textbox
                *dxTemplate
                label="Wydanie przez klienta Id:"
                [(value)]="jednostkaData.wydaniePrzezKlientaId"
                [isEditing]="isEditing"
                [validators]="disabledValidationValidationRule"
              ></form-textbox>
            </dxi-item>
    
            <dxi-item>
              <form-textbox
                *dxTemplate
                label="Przyjęcie przez klienta Id:"
                [(value)]="jednostkaData.przyjeciePrzezKlientaId"
                [isEditing]="isEditing"
                [validators]="disabledValidationValidationRule"
              ></form-textbox>
            </dxi-item>
    
            <dxi-item>
              <form-textbox
                *dxTemplate
                label="Etykieta zbiorcza:"
                [(value)]="jednostkaData.etykietaZbiorczaId"
                [isEditing]="isEditing"
                [validators]="disabledValidationValidationRule"
              ></form-textbox>
            </dxi-item>
    
            <dxi-item>
              <form-textbox
                *dxTemplate
                label="Proces:"
                [(value)]="jednostkaData.procesId"
                [isEditing]="isEditing"
                [validators]="disabledValidationValidationRule"
              ></form-textbox>
            </dxi-item>
    
            <dxi-item>
              <form-textbox
                *dxTemplate
                label="Reklamacja:"
                [(value)]="jednostkaData.reklamacjaId"
                [isEditing]="isEditing"
                [validators]="disabledValidationValidationRule"
              ></form-textbox>
            </dxi-item>
    
            <dxi-item>
              <form-textbox
                *dxTemplate
                label="Są uwagi"
                [(value)]="jednostkaData.saUwagi"
                [isEditing]="isEditing"
                [validators]="disabledValidationValidationRule"
              ></form-textbox>
            </dxi-item>
    
            <dxi-item>
              <form-textbox
                *dxTemplate
                label="Są komentarze:"
                [(value)]="jednostkaData.saKomentarze"
                [isEditing]="isEditing"
                [validators]="disabledValidationValidationRule"
              ></form-textbox>
            </dxi-item>
    
          </dxi-item>
          
      </dx-form>
    </dx-validation-group>
    <dx-load-panel
      container="#jednostka-form"
      [position]="{ of: '#jednostka-form' }"
      [visible]="isLoading"
      [showPane]="false"
    ></dx-load-panel>
  </div>