
@use "../../variables.scss" as *;

#jednostka-form {
  min-height: 250px;

  ::ng-deep .form-title {
    font-size: 18px;
  }
}

.dx-form {
  .form-item-button {
    margin-left: 10px;
    margin-top: 5px;
  }
}

.info {
  position: relative;
  padding-bottom: 30px;
}

.dx-accordion {
  .accordion-title {
    vertical-align: middle;
    padding-right: 10px;
    display: flex;
    align-items: center;
  }
}
