.content-block
{
    width: 100%;
    box-shadow: 0 1px 4px 0 #00000026;
    background-color: white;
    border-left: 2px solid var(--accent-color);
    margin-right: 1px;
    padding: 8px 2px 8px 16px;
}